.todo__list__item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    transition: 0.5s;
    cursor: pointer;
    &:not(:last-child){
        border-bottom: 1px solid #E3E4F1;
    }
    &:first-of-type{
        border-radius: 5px 5px 0 0;
    }
    .checkbox-label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        padding: 1px;
        margin: 0 24px 0 0;
        background-color: #D1D2DA;
        border-radius: 100%;
        cursor: pointer;
        label{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 100%;
            cursor: pointer;
            svg{
                display: none;
            }   
        }
        &:hover{
            background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
        }
    }

    & [type='checkbox']{
        display: none;
        &:checked + .checkbox-label {
            background-image: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
            label{
                background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
                svg{
                    display: flex;
                }
            }
        }
        &:checked ~ span{
            color: #D1D2DA;
            text-decoration: line-through;
        }
        
    }
    span{
        flex-grow: 1;
        font-weight: 400;
        font-size: 1.125rem;
        letter-spacing: -0.25px;
        color: #494C6B;
        &:hover + .cross{
            display: block;
        }
    }

    .cross{
        display: none;
    }

    &:hover{
        span + .cross{
            display: block;
        }
    }
}