.todo__empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.194444px;
    color: #9495A5;
    padding: 50px 0;
    background-color: inherit;
}