.todo{
    width: 100%;
    min-height: 100vh;
    padding: 70px 20px;
    margin: 0 auto;
    background: url(../../images/bg-desktop-light.jpg) top center / contain no-repeat white;
    .todo-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .todo-header_logo{
            font-weight: 700;
            font-size: 40px;
            letter-spacing: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        .todo-header_icon{
            cursor: pointer;
        }
        
    }
    main{
        .todo__list__container{
            border-radius: 5px;
            box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
            background-color: white;
        }
        .todo__panel{
            position: relative;
            display: flex;
            justify-content: space-between;
            padding: 16px 24px;
            border-top: 1px solid #E3E4F1;
            font-weight: 400;
            font-size: 0.875rem;
            letter-spacing: -0.194444px;
            color: #9495A5;
            .todo__counter{
                cursor: default;
            }
            .todo__clear{
                cursor: pointer;
                &:hover{
                    color: #494C6B;
                }
            }
                
        }
    }
    &.dark{
        background-image: url(../../images/bg-desktop-dark.jpg);
        background-color: #171823;
        main{
            form{
                box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
            }
            .todo__list__container{
                background-color: #25273D;
                box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
                .todo__list__item{
                border-color: #393A4B;
                }
            }
            .todo__panel{
                border-color: #393A4B;
                .todo__filter{
                    // background: #25273D;
                    box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
                }
            }

            form, .todo__list__item{
                background-color: #25273D;
                .checkbox-label{
                background-color: #393A4B;
                }
                [type="text"], .checkbox-label label{
                background-color: #25273D;
                }
                span{
                color: #C8CBE7;
                }
            }
        }
    }
}

@media only screen and (max-width: 475px) {
    html{
        font-size: 12px;
    }
    .todo{
        padding-top: 40px;
        background-image: url(../../images/bg-mobile-light.jpg);
        background-size: contain !important;
        &.dark{
            background-image: url(../../images/bg-mobile-dark.jpg); 
            background-size: contain;
            main{
                .todo__panel{
                    .todo__filter{
                        background-color: #25273D;
                        box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
        main{
            form{
                margin-bottom: 16px;
            }
            .todo__list__container{
                box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
                .todo__list{
                    .todo__list__item{
                        .cross{
                            display: block;
                        }
                    }
                }
            }
            .todo__panel{
                .todo__filter{
                    width: 100%;
                    position: absolute;
                    justify-content: center;
                    bottom: -65px;
                    left: 0;
                    background: #FFFFFF;
                    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
                    border-radius: 5px;
                    padding: 15px 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .todo{
        background-size: auto;
        main{
            .todo__list__container{
                .todo__list{
                    .todo__list__item{
                        .cross{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}