.todo{
    width: 540px;
    height: 500px;
    padding-top: 70px;
    margin: 0 auto;
    background-color: red;
    .todo-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .todo-header_logo{
            font-weight: 700;
            font-size: 40px;
            letter-spacing: 15px;
            color: #FFFFFF;
            text-transform: uppercase;
        }
        
    }
}